<html>
<head>
    <title>Single Product</title>
</head>  
<body>
<h1>Single Product view</h1>    
<h3><%= request.product.name %></h3>
<p><%= request.product.description %></p>
<p>BDT  <%= request.product.price %></p>
<p>Quantity  <%= request.product.quantity %></p>

</body>
</html>